In [ ]:
import json
import pandas as pd
from pandas.io.json import json_normalize 
import os
import glob
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='once')

### Weather Data

In [ ]:
Airports=['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']

In [ ]:
dd=pd.DataFrame()

In [ ]:
for i in Airports:
    path='C:/Users/SAI/OneDrive - University at Buffalo/2nd sem/DIC/weather/'+i
    for j in os.listdir(path):
        if('2016' in j):
            with open('C:/Users/SAI/OneDrive - University at Buffalo/2nd sem/DIC/weather/'+i+'/'+j) as f:
                d = json.load(f)
                data = json_normalize(d['data']['weather'])
                data=data[['date','hourly']]
                #data['airport']=i
                #works_data = json_normalize(data=d['data']['weather'], record_path='hourly', errors='ignore')
                works_data = json_normalize(data=d['data']['weather'], record_path=['hourly'], errors='ignore',meta=['date'])
                works_data['airport'] =i
                dd=dd.append(works_data)

In [ ]:
finalweatherdata2016=dd[['airport','date','windspeedKmph','winddirDegree','weatherCode','precipMM','visibility',
'pressure',
'cloudcover',
'DewPointF',
'WindGustKmph',
'tempF',
'WindChillF',
'humidity',
'time']]

In [ ]:
#finalweatherdata2016
# data[['date','airport']]

In [ ]:
dd2017=pd.DataFrame()
for i in Airports:
    path='C:/Users/SAI/OneDrive - University at Buffalo/2nd sem/DIC/weather/'+i
    for j in os.listdir(path):
        if('2017' in j):
            with open('C:/Users/SAI/OneDrive - University at Buffalo/2nd sem/DIC/weather/'+i+'/'+j) as f:
                d = json.load(f)
                data = json_normalize(d['data']['weather'])
                data=data[['date','hourly']]
                data['airport']=i
                works_data = json_normalize(data=d['data']['weather'], record_path='hourly', errors='ignore',meta=['date'])
                works_data['airport'] =i
                dd2017=dd2017.append(works_data)

In [ ]:
finalweatherdata2017=dd2017[['airport','date','windspeedKmph','winddirDegree','weatherCode','precipMM','visibility',
'pressure',
'cloudcover',
'DewPointF',
'WindGustKmph',
'tempF',
'WindChillF',
'humidity',
'time']]

In [ ]:
finalweatherdata2017

,airport,date,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time
0,ATL,2017-01-01,15,157,266,0.3,2,1020,100,38,23,43,38,83,0
1,ATL,2017-01-01,15,159,266,0.3,3,1020,100,39,22,44,38,85,100
2,ATL,2017-01-01,14,161,353,0.3,4,1020,100,40,21,44,39,87,200
3,ATL,2017-01-01,14,163,353,0.3,5,1019,100,41,21,44,39,89,300
4,ATL,2017-01-01,13,160,353,0.7,6,1019,100,42,21,45,40,91,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,SFO,2017-09-30,26,296,113,0.0,10,1014,0,57,27,67,67,70,1900
716,SFO,2017-09-30,26,298,113,0.0,10,1014,0,58,27,67,67,71,2000
717,SFO,2017-09-30,26,300,113,0.0,10,1014,0,58,27,67,67,73,2100
718,SFO,2017-09-30,23,302,113,0.0,10,1014,0,58,25,66,66,74,2200
719,SFO,2017-09-30,20,303,113,0.0,10,1014,0,58,22,66,66,75,2300

In [ ]:
finalweatherdata=pd.concat([finalweatherdata2016,finalweatherdata2017])

In [ ]:
finalweatherdata.to_csv("C:/Users/SAI/OneDrive - University at Buffalo/2nd sem/DIC/weather/weatherdata.csv")
finalweatherdata

,airport,date,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time
0,ATL,2016-01-01,11,318,176,0.1,10,1023,100,47,17,49,46,91,0
1,ATL,2016-01-01,13,317,176,0.0,10,1023,100,44,22,46,42,92,100
2,ATL,2016-01-01,14,315,122,0.0,10,1023,100,41,26,43,38,92,200
3,ATL,2016-01-01,16,314,122,0.0,10,1023,100,38,30,40,33,93,300
4,ATL,2016-01-01,17,314,122,0.0,10,1023,100,38,30,40,33,93,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,SFO,2017-09-30,26,296,113,0.0,10,1014,0,57,27,67,67,70,1900
716,SFO,2017-09-30,26,298,113,0.0,10,1014,0,58,27,67,67,71,2000
717,SFO,2017-09-30,26,300,113,0.0,10,1014,0,58,27,67,67,73,2100
718,SFO,2017-09-30,23,302,113,0.0,10,1014,0,58,25,66,66,74,2200
719,SFO,2017-09-30,20,303,113,0.0,10,1014,0,58,22,66,66,75,2300

### Flight Data

In [ ]:
df = pd.concat(map(pd.read_csv, glob.glob('C:/Users/SAI/OneDrive - University at Buffalo/2nd sem/DIC/Flight Data/2016_original/2016/*.csv')))

In [ ]:
df2=df1.loc[df1['Origin'].isin([
        'ATL',
        'CLT',
        'DEN',
        'DFW',
        'EWR',
        'IAH',
        'JFK',
        'LAS',
        'LAX',
        'MCO',
        'MIA',
        'ORD',
        'PHX',
        'SEA',
        'SFO'
        ])]

df3_2016=df2.loc[df2['Dest'].isin(['ATL',
        'CLT',
        'DEN',
        'DFW',
        'EWR',
        'IAH',
        'JFK',
        'LAS',
        'LAX',
        'MCO',
        'MIA',
        'ORD',
        'PHX',
        'SEA',
        'SFO'])]

In [ ]:
df3_2016

,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes,Origin,Dest
57,2016-01-01,1,2016,1,1,741.0,0.0,745,0.0,14747,12478,1610.0,1602,0.0,8.0,SEA,JFK
58,2016-01-02,1,2016,1,2,737.0,0.0,745,0.0,14747,12478,1613.0,1602,0.0,11.0,SEA,JFK
59,2016-01-03,1,2016,1,3,743.0,0.0,745,0.0,14747,12478,1547.0,1602,0.0,0.0,SEA,JFK
60,2016-01-04,1,2016,1,4,737.0,0.0,745,0.0,14747,12478,1551.0,1602,0.0,0.0,SEA,JFK
61,2016-01-05,1,2016,1,5,708.0,0.0,710,0.0,14747,12478,1524.0,1527,0.0,0.0,SEA,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454867,2016-09-01,3,2016,9,1,1556.0,0.0,1555,1.0,13930,14107,1736.0,1748,0.0,0.0,ORD,PHX
454868,2016-09-01,3,2016,9,1,756.0,0.0,755,1.0,13204,11618,1028.0,1033,0.0,0.0,MCO,EWR
454870,2016-09-01,3,2016,9,1,913.0,0.0,915,0.0,12266,12889,1021.0,1031,0.0,0.0,IAH,LAS
454873,2016-09-01,3,2016,9,1,622.0,0.0,630,0.0,11618,12266,854.0,910,0.0,0.0,EWR,IAH
454877,2016-09-01,3,2016,9,1,922.0,0.0,916,6.0,13930,13204,1254.0,1300,0.0,0.0,ORD,MCO

In [ ]:
df = pd.concat(map(pd.read_csv, glob.glob('C:/Users/SAI/OneDrive - University at Buffalo/2nd sem/DIC/Flight Data/2017_original/2017/*.csv')))

In [ ]:
df2=df1.loc[df1['Origin'].isin([
        'ATL',
        'CLT',
        'DEN',
        'DFW',
        'EWR',
        'IAH',
        'JFK',
        'LAS',
        'LAX',
        'MCO',
        'MIA',
        'ORD',
        'PHX',
        'SEA',
        'SFO'
        ])]

df3_2017=df2.loc[df2['Dest'].isin(['ATL',
        'CLT',
        'DEN',
        'DFW',
        'EWR',
        'IAH',
        'JFK',
        'LAS',
        'LAX',
        'MCO',
        'MIA',
        'ORD',
        'PHX',
        'SEA',
        'SFO'])]

In [ ]:
df3_2017

,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes,Origin,Dest
0,2017-01-17,1,2017,1,17,1616.0,0.0,1619,0.0,11057,14107,1842.0,1856,0.0,0.0,CLT,PHX
1,2017-01-18,1,2017,1,18,1614.0,0.0,1619,0.0,11057,14107,1821.0,1856,0.0,0.0,CLT,PHX
2,2017-01-19,1,2017,1,19,1611.0,0.0,1619,0.0,11057,14107,1826.0,1856,0.0,0.0,CLT,PHX
3,2017-01-20,1,2017,1,20,1656.0,1.0,1619,37.0,11057,14107,1929.0,1856,1.0,33.0,CLT,PHX
4,2017-01-21,1,2017,1,21,1632.0,0.0,1619,13.0,11057,14107,1858.0,1856,0.0,2.0,CLT,PHX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458684,2017-09-25,3,2017,9,25,2038.0,0.0,2045,0.0,14771,12478,449.0,522,0.0,0.0,SFO,JFK
458687,2017-09-25,3,2017,9,25,1200.0,0.0,1205,0.0,11618,13204,1428.0,1449,0.0,0.0,EWR,MCO
458688,2017-09-25,3,2017,9,25,1143.0,0.0,1141,2.0,13204,11618,1409.0,1417,0.0,0.0,MCO,EWR
458695,2017-09-25,3,2017,9,25,2157.0,0.0,2159,0.0,12889,12478,540.0,557,0.0,0.0,LAS,JFK
458711,2017-09-25,3,2017,9,25,605.0,0.0,605,0.0,13204,12478,821.0,837,0.0,0.0,MCO,JFK

In [ ]:
flight_df=pd.concat([df3_2016,df3_2017])

In [ ]:
flight_df

,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes,Origin,Dest
57,2016-01-01,1,2016,1,1,741.0,0.0,745,0.0,14747,12478,1610.0,1602,0.0,8.0,SEA,JFK
58,2016-01-02,1,2016,1,2,737.0,0.0,745,0.0,14747,12478,1613.0,1602,0.0,11.0,SEA,JFK
59,2016-01-03,1,2016,1,3,743.0,0.0,745,0.0,14747,12478,1547.0,1602,0.0,0.0,SEA,JFK
60,2016-01-04,1,2016,1,4,737.0,0.0,745,0.0,14747,12478,1551.0,1602,0.0,0.0,SEA,JFK
61,2016-01-05,1,2016,1,5,708.0,0.0,710,0.0,14747,12478,1524.0,1527,0.0,0.0,SEA,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458684,2017-09-25,3,2017,9,25,2038.0,0.0,2045,0.0,14771,12478,449.0,522,0.0,0.0,SFO,JFK
458687,2017-09-25,3,2017,9,25,1200.0,0.0,1205,0.0,11618,13204,1428.0,1449,0.0,0.0,EWR,MCO
458688,2017-09-25,3,2017,9,25,1143.0,0.0,1141,2.0,13204,11618,1409.0,1417,0.0,0.0,MCO,EWR
458695,2017-09-25,3,2017,9,25,2157.0,0.0,2159,0.0,12889,12478,540.0,557,0.0,0.0,LAS,JFK
458711,2017-09-25,3,2017,9,25,605.0,0.0,605,0.0,13204,12478,821.0,837,0.0,0.0,MCO,JFK

In [ ]:
flight_df.to_csv('C:/Users/SAI/OneDrive - University at Buffalo/2nd sem/DIC/Flight Data/flightdetails.csv')