In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
import pandas as pd
import os
import numpy
import math

In [ ]:
wd=pd.read_csv("gdrive/My Drive/weatherdata.csv")
fd=pd.read_csv("gdrive/My Drive/flightdetails.csv")

In [ ]:
fd

         Unnamed: 0  FlightDate  Quarter  ...  ArrDelayMinutes  Origin  Dest
0                57  2016-01-01        1  ...              8.0     SEA   JFK
1                58  2016-01-02        1  ...             11.0     SEA   JFK
2                59  2016-01-03        1  ...              0.0     SEA   JFK
3                60  2016-01-04        1  ...              0.0     SEA   JFK
4                61  2016-01-05        1  ...              0.0     SEA   JFK
...             ...         ...      ...  ...              ...     ...   ...
1877291      458684  2017-09-25        3  ...              0.0     SFO   JFK
1877292      458687  2017-09-25        3  ...              0.0     EWR   MCO
1877293      458688  2017-09-25        3  ...              0.0     MCO   EWR
1877294      458695  2017-09-25        3  ...              0.0     LAS   JFK
1877295      458711  2017-09-25        3  ...              0.0     MCO   JFK

[1877296 rows x 18 columns]

In [ ]:
fd['CRSArrTime']=round(fd['CRSArrTime'],-2)

In [ ]:
fd['CRSAbstime']=abs(fd['CRSArrTime'])%100

In [ ]:
fd

         Unnamed: 0  FlightDate  Quarter  ...  ArrDelayMinutes  Origin  Dest
0                57  2016-01-01        1  ...              8.0     SEA   JFK
1                58  2016-01-02        1  ...             11.0     SEA   JFK
2                59  2016-01-03        1  ...              0.0     SEA   JFK
3                60  2016-01-04        1  ...              0.0     SEA   JFK
4                61  2016-01-05        1  ...              0.0     SEA   JFK
...             ...         ...      ...  ...              ...     ...   ...
1877291      458684  2017-09-25        3  ...              0.0     SFO   JFK
1877292      458687  2017-09-25        3  ...              0.0     EWR   MCO
1877293      458688  2017-09-25        3  ...              0.0     MCO   EWR
1877294      458695  2017-09-25        3  ...              0.0     LAS   JFK
1877295      458711  2017-09-25        3  ...              0.0     MCO   JFK

[1877296 rows x 18 columns]

In [ ]:
 wd

        Unnamed: 0 airport        date  ...  WindChillF  humidity  time
0                0     ATL  2016-01-01  ...          46        91     0
1                1     ATL  2016-01-01  ...          42        92   100
2                2     ATL  2016-01-01  ...          38        92   200
3                3     ATL  2016-01-01  ...          33        93   300
4                4     ATL  2016-01-01  ...          33        93   400
...            ...     ...         ...  ...         ...       ...   ...
263155         715     SFO  2017-09-30  ...          67        70  1900
263156         716     SFO  2017-09-30  ...          67        71  2000
263157         717     SFO  2017-09-30  ...          67        73  2100
263158         718     SFO  2017-09-30  ...          66        74  2200
263159         719     SFO  2017-09-30  ...          66        75  2300

[263160 rows x 16 columns]

In [ ]:
fd=fd.dropna()
mergeA=fd.merge(wd,left_on=["FlightDate","CRSArrTime","Dest"],right_on=["date","time","airport"])
mergeA.shape

(1826545, 34)

In [ ]:
mergeA['CRSDepTime']=round(mergeA['CRSDepTime'],-2)
mergeB=mergeA.merge(wd,left_on=["FlightDate","CRSDepTime","Origin"],right_on=["date","time","airport"])
mergeB

         Unnamed: 0_x  FlightDate  Quarter  ...  WindChillF_y  humidity_y  time_y
0                  57  2016-01-01        1  ...            29          66     700
1              219870  2016-01-01        1  ...            29          66     700
2              356730  2016-01-01        1  ...            29          66     700
3              334974  2016-01-01        1  ...            29          66     700
4              356750  2016-01-01        1  ...            29          66     700
...               ...         ...      ...  ...           ...         ...     ...
1815400        453453  2017-09-18        3  ...            69          92    2200
1815401        455805  2017-09-21        3  ...            72          75    2200
1815402        456636  2017-09-22        3  ...            71          63    2200
1815403        457242  2017-09-23        3  ...            86          55    2100
1815404        458172  2017-09-24        3  ...            74          87    2200

[1815405 rows x 50 columns]

In [ ]:
mergeB.to_csv("finalmerge.csv")

NameError: ignored

In [ ]:
mergeB=mergeB.dropna()

NameError: ignored